:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

h1 {
  font-size: var(--font-heading);
  font-weight: bold;
  text-wrap: balance;
}

p {
  color: #3b978c;
}
.profile {
  width: var(--image-width);
  border-radius: 100px;
}
.container {
  display: flex;
  padding: var(--card-padding);
  gap: 1rem;
  max-width: 400px;
}

.images {
  display: flex;
  justify-content: space-between;
  color: var(--color-icon);
  margin-top: 1rem;
  height: 25px;
}

/* Begynd her... */
