/* Dine styles her */
:root {
  --flow-space: 0.5rlh;
}

article > * {
  margin-top: var(--flow-space);
}

article h2 {
  --flow-space: 2rlh;
}

article h3 {
  --flow-space: 1rlh;
}

/* alle elementer der kommer efter h3 */
article h3 + * {
  --flow-space: 0.25rlh;
}
