---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    gap: var(--card-gap);
    overflow-x: auto;
  }

  .card {
    flex: 0 0 auto;
    padding: var(--card-padding);
  }

  /* .scroller {
  padding-inline:
    max(1rem, 50% - var(--content-width) / 2);
} */


</style>
