---
const { cardContent } = Astro.props;
---
<ul class="scroll-container">
  {cardContent.map((card) => (
    <li>
      <h3>{card.title}</h3>
      <p>{card.body}</p>
    </li>
  ))}
</ul>

<style>
  .scroll-container {
    display: flex;
    /* global variabeler fra global.css */
    gap: var(--card-gap); 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* gør at den strækker sig fuldt ud */
    grid-column: full; 
    padding-inline: max(1rem, 50% - var(--content-width) / 2);
    padding-block-end: 1rem;
  }

  .scroll-container li {
    flex-basis: min(400px, 90%);
    flex-shrink: 0;
    /* igen brug af globale variabler */
    background: var(--card-background);
    color: var(--card-text-color);
    border-radius: var(--card-border-radius);
    font-size: 1rem;
    padding: var(--card-padding);
    align-self: start;
    scroll-snap-align: center;
    list-style: none;
  }
</style>